* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

body {
  background-color: #EDF6FF;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #112B3C;
  padding: 0 45px 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  height: 61px;
  /* Set a fixed height for the header */
}

.logo-container {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.logo-container img {
  width: 50px;
  /* Adjust the width of the logo image */
  height: auto;
  /* Maintain the aspect ratio */
  margin-right: 8px;
  /* Adjust the spacing between the logo and text */
}

header .logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

header .logo span {
  color: var(--gray);
}

header .navbar a {
  font-size: 18px;
  padding: 18px;
  color: rgb(255, 255, 255);
  transition: color 0.2s ease;
}

header .navbar a:hover {
  color: #f7f0f0b0;
}

header .navbar2 a {
  font-size: 15px;
  color: rgb(255, 255, 255);
  transition: color 0.2s ease;
}

header .navbar2 a:hover {
  color: #f7f0f0b0;
}

header .navbar2 span {
  color: rgb(255, 255, 255);
}

.logout-icon {
  font-size: 24px;
  /* Adjust the size as needed */
  color: #ff0000;
  /* Adjust the color as needed */
  /* Add any other styling you want here */
  display: flex;
}

/* Optional: Add some hover effect */
.logout-link:hover .logout-icon {
  color: #ff4500;
  /* Change color on hover */
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  right: -260px;
  /* Initially hide the sidebar by moving it off-screen to the right */
  top: 0;
  width: 260px;
  height: 100%;
  background: #112B3C;
  transition: right 0.3s ease;
  /* Adjust the transition property to 'right' */
  z-index: 1001;
  overflow-y: auto;
  padding-top: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
  transition: all 0.4s ease;
}

.logo-name {
  color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 500;
  padding-right: 5px;
}

.sidebar img {
  width: 60px;
  /* Adjust the width of the logo image */
  height: auto;
  /* Maintain the aspect ratio */
  padding-left: 10px;
}

.sidebar .sidebar-content {
  display: flex;
  height: 94%;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 16px;
}

.sidebar-content .list {
  list-style: none;
}

.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.lists .nav-link:hover,
.bottom-content .nav-link:hover {
  background-color: #f7f0f01c;
}

.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.nav-link .link {
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #f7f0f0;
  font-weight: 500;
}

.bottom-content .list:hover .icon,
.bottom-content .list:hover .link {
  color: #f7f0f0;
  font-weight: 500;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* Semi-transparent black background */
  z-index: 1000;
  /* Below the sidebar */
  display: none;
  /* Initially hidden */
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: 75px 12px 20px auto;
  float: left;
  clear: both;
}

.mySlides {
  display: none;
}

.mySlides img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
}

.single-image {
  position: relative;
  margin: 75px 12px 20px auto;
  overflow: hidden;
  width: 100%;
}

.single-image img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
}

/* Additional styling if needed */
/* For example, you can center the image horizontally and vertically */
.single-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 49.5%;
  transform: translateY(-50%);
  width: auto;
  padding: 219px 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: #d9d9d925;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.411);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

#slideshow-container {
  width: 100%;
}

#calendar-container {
  width: 520px;
  float: left;
  margin-top: 75px;
  padding: 20px;
  box-shadow: 0 4px 4px #f66b0ecb;
  background-color: white;
  font-size: 14.7px;
}

.fc-toolbar-title {
  padding-top: 10px;
}

.fc-scrollgrid {
  border: none !important;
}

.fc-scrollgrid td:last-of-type {
  border-right: none !important;
}

.fc table {
  border: none;
}

.fc th,
.fc td {
  border: none;
}

/* Style for the container */
.featured-books-container {
  width: 100%;
  background-color: #fff;
  padding: 90px 80px;
  box-shadow: 0 4px 4px rgba(246, 107, 14, 0.8);
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

/* Add styles for the search box */
.search-box {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

#search {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 200px;
  /* Adjust the width as needed */
}

.search-button {
  background-color: #f66b0ecb;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.search-button:hover {
  background-color: #F66B0E;
}

.featured-books-text {
  position: absolute;
  top: 25px;
  /* Adjust the top position as needed */
  left: 35px;
  /* Adjust the left position as needed */
  font-size: 24px;
  /* Adjust the font size as needed */
  font-weight: bold;
  /* Optionally make the text bold */
  color: #333;
  /* Adjust the color as needed */
  z-index: 1;
  /* Place the text above the books */
}

/* Style for individual book items inside the container */
.book-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.book-cover {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  margin-left: 30px;
}

.book-cover img {
  max-width: 100%;
  height: 300px;
  object-fit: contain;
  margin-bottom: 20px;
  cursor: pointer;
}

.view-button {
  background-color: #f66b0ecb;
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.view-button:hover {
  background-color: #F66B0E;
}

/* Additional styles for the content container */
.content {
  margin-top: 5px;
  /* Add margin from the top */
  padding: 0 20px 0px 20px;
  /* Add padding to the content container */
}

/* About Us Section Styles */
.about-us {
  background-color: #f9f9f9;
  padding: 40px 0;
  margin: 40px 20px;
  box-shadow: 0 4px 4px rgba(246, 107, 14, 0.8);
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1650px;
  margin: 0 auto;
  padding: 20px 20px;
}

.about-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image-container {
  margin: 10px;
  max-width: calc(33.3333% - 20px);
  /* Adjust the width as needed */
  overflow: hidden;
  position: relative;
  height: 300px !important;
  /* Set a fixed height for all images */
}

.image-container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  /* Make the image cover the fixed dimensions */
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.about-text {
  flex: 1;
  padding: 0 20px;
}

.about-text h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}

.about-text ul {
  list-style: disc;
  margin-left: 20px;
  padding-left: 20px;
}

.about-text ul li {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 10px;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #F66B0E;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #D54C0A;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* CSS for the Gallery Section */
.gallery {
  background-color: #f9f9f9;
  padding: 60px 0;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 4px rgba(246, 107, 14, 0.8);
}

.gallery-heading h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.gallery-heading p {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* Increased minmax width */
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1600px;
}

/* Set larger fixed dimensions for the gallery items */
.gallery-item {
  width: 300px;
  /* Increased width */
  height: 300px;
  /* Increased height */
  overflow: hidden;
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Make the image cover the fixed dimensions */
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

/* Modern Footer Styles */
.modern-footer {
  background-color: #112B3C;
  color: #fff;
  padding: 40px 40px 60px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo img {
  max-height: 120px;
  /* Set a maximum height for the logos */
  max-width: 100%;
  /* Ensure the logos don't exceed their container's width */
}

.footer-logo2 img {
  max-height: 100%;
  /* Set a maximum height for the logos */
  max-width: 100%;
  /* Ensure the logos don't exceed their container's width */
  margin-right: 10px;
  margin-left: 20px;
}

.footer-text {
  margin: 20px 20px 0 20px;
  text-align: center;
}

.footer-text h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.footer-text p {
  font-size: 16px;
  margin-bottom: 5px;
}

.footer-text p a {
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: lowercase;
  text-decoration: underline;
  color: #fff;
}

.footer-text p:last-child {
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer-links a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

.social-icons {
  margin-top: 20px;
}

.social-icon {
  font-size: 24px;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.social-icon:hover {
  color: #f7f0f0b0;
  /* Change the color on hover */
}

.footer-links a:hover {
  text-decoration: none;
  color: #f7f0f0b0;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: #f66b0ecb;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

/* Fade in the button when the user scrolls down */
.show {
  display: block;
}

/* Add a smooth scroll effect to the top of the page */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #0056b3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  transition: background-color 0.3s, transform 0.3s;
}

.back-to-top-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.back-to-top-icon i {
  font-size: 20px;
  color: #fff;
}

#back-to-top-btn:hover {
  background-color: #F66B0E;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1001;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}

.modal-content2 {
  background-color: #fff;
  height: 700px;
  width: 1200px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 5px;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* Center the modal horizontally */
  transition: all 0.4s ease;
}

.close-book-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 3rem;
  cursor: pointer;
  color: #555;
}

.close-book-modal:hover,
.close-book-modall:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.vertical-line2 {
  height: 90%;
  border-left: 3px solid #ccc;
  margin: 30px 0;
}

.modal-left {
  flex: 1;
  /* Take up 50% of the modal's width */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-right {
  flex: 1;
  padding: 0 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}


/* Add a line between the sections */
.modal-right hr {
  margin: 10px 0;
  border: 0;
  border-top: 2px solid #ccc;
}

/* Additional styling for modal content (adjust as needed) */
#modalImage {
  width: 400px;
  /* Set the desired width for the cover */
  height: 600px;
  /* Set the desired height for the cover */
  object-fit: cover;
}

#modalTitle {
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: bold;
  color: #333;
}

#modalAuthor {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

#modalDescription {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

.modal-buttons {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.cancel-button {
  background-color: #f66b0ecb;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
}

.view-book-button {
  background-color: #f66b0ecb;
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.view-book-button:hover {
  background-color: #F66B0E;
}

.view-book-button:hover,
.cancel-button:hover {
  background-color: #F66B0E;
}

/* Styles for mobile devices (up to 768px) */
@media (max-width: 1081px) {
  .navbar {
    display: none;
    /* Hide the navigation menu by default */
  }

  .menu-icon {
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    /* Icon color */
    margin-right: -10px;
  }

  .logo {
    text-align: center;
    flex-grow: 1;
    /* Allow the logo to grow and center itself */
    font-size: 20px;
    color: #fff;
    /* Logo text color */
  }

  /* Show the navigation menu when the "show-navbar" class is present */
  .show-navbar .navbar {
    display: block !important;
  }

  .navbar2 {
    display: none;
  }
}

/* Styles for larger screens */
@media (min-width: 1082px) {
  .navbar {
    display: block;
    /* Show the navigation menu by default on larger screens */
  }

  .menu-icon {
    display: none;
    /* Hide the menu button on larger screens */
  }
}

/* Gallery Responsive */
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* Adjusted minmax width for smaller screens */
    gap: 10px;
  }
}